:root {
  --primary-color: #e7e8e8;
  --secondary-color: #a55852;
  --dark-color: #000;
  --dark-color-1: #435352;
  --dark-color-2: #4f5849;
  --accent-color-red: #b81919;
  --grey-bg: rgba(67, 83, 82, 0.05);

  --font-bonny: 'Bonny', sans-serif;
  --font-telma: 'Telma', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: var(--font-bonny);
  font-weight: 500;
}

body {
  background: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-x {
  justify-content: center;
}

.align-y {
  align-items: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}
