.slideContainer {
  position: relative;
}

.slide div:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.overlay,
.slideContainer svg {
  position: absolute;
  z-index: 3;
  top: 0.5rem;
  left: 0;
}

.overlay {
  background: linear-gradient(
    180deg,
    #c9c3c3 50%,
    rgba(201, 195, 195, 0.92) 50%,
    rgba(201, 195, 195, 0) 86.53%
  );
  filter: blur(20px);
  height: 50px;
  z-index: 4;
}

.slideContainer svg:last-of-type,
.overlay:last-of-type {
  top: unset;
  bottom: 0.5rem;
}

.slideContainer svg {
  top: -4rem;
}

.slideContainer svg:last-of-type {
  bottom: -6rem;
}

@media screen and (min-width: 768px) {
  .overlay,
  .slideContainer svg {
    top: -4rem;
  }

  .overlay {
    height: 220px;
    filter: blur(30px);
  }

  .overlay,
  .slideContainer svg {
    top: -4rem;
  }

  .slideContainer svg {
    top: -7rem;
  }
  
  
  .slideContainer svg:last-of-type,
  .overlay:last-of-type {
    bottom: -6rem;
  }

  .slideContainer svg:last-of-type {
    bottom: -4rem;
  }
}