.notification {
  position: fixed;
  bottom: 2rem;
  right: 0;
  z-index: 1000;
  height: fit-content;
  width: 320px;
  background: var(--secondary-color);
  padding: 1rem;
}

.notification button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2.5rem;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.notification span {
  color: #fefafa;
  font-family: var(--font-general);
}

.notification p {
  font-size: 1.25rem;
}
