.notification {
  position: fixed;
  bottom: 2rem;
  right: 0;
  z-index: 1000;
  height: 80px;
}

.notification button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2.5rem;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.notification > svg {
  height: 100%;
  width: 100%;
}

.notification span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #fefafa;
  font-family: var(--font-general);
}

.notification span svg {
  width: 50px;
  height: 50px;
  margin-right: 1.5rem;
}

.notification p {
  font-size: 1.25rem;
}
