.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
}

.overlay2,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
}

.overlay2 {
  background: var(--secondary-color);
  z-index: 1000;
  height: 110vh;
  overflow-x: hidden;
}

.overlay2 div {
  margin-top: -12rem;
  transform: translateX(200%);
}

.overlay2 img {
  object-fit: contain;
  display: inline-block;
}
