.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 2000000;
}

.overlay2,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  min-height: 100vh;
  background: var(--primary-color);
}

.overlay2 {
  background: var(--secondary-color);
  z-index: 1000;
  height: 110vh;
  overflow-x: hidden;
}

.overlay2 div {
  /* margin-top: -12rem; */
  transform: translateX(200%);

  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.overlay2 div p {
  color: var(--primary-color);
  font-size: 20rem;
  line-height: 1;
  font-weight: 700;
  /* font-family: var(--font-telma); */
  width: 100vw !important;
  text-align: center;
}

.overlay2 img {
  margin-top: 3rem;
  object-fit: contain;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .overlay2 div {
    display: grid;
    grid-template-columns: repeat(3, 100vw);
    position: relative;
    /* top: 40%; */
    transform: translateY(-40%);
  }

  .overlay2 img {
    object-fit: contain;
    display: inline-block;
  }

  .overlay2 div p {
    font-size: 9rem;
    align-self: center;
  }
}
